<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="./lib/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<div class="header">
    <div class="row  h-100 d-flex align-items-center justify-content-around">
        <div class="col mx-5 d-flex align-items-center justify-content-center">
            <a href="/" class="link">home</a>
        </div>
        <div class="col mx-5 d-flex align-items-center justify-content-center">
            <a href="/chat" class="link">chat</a>
        </div>
        <div class="col mx-5 d-flex align-items-center justify-content-center">
            <a href="/note" class="link">post note</a>
        </div>
        <div class="admin-action col mx-5 d-flex align-items-center justify-content-center">
            <a href="/editUser" class="link">edit user</a>
        </div>
        <div class="col mx-5 d-flex align-items-center justify-content-center">
            <p id="username-container"></p>
        </div>
    </div>
</div>
<div class="container greetings">
    <div class="row">
        <h1>
            Welcome to aaaaaa
        </h1>
        <p>
            test.it, alooo.ciao.ciao http://10.10.10.110 http://10.255.255.255
            On this website you can upload simple dev-notes for the company projects. We know that programmers likes
            colours,
            so as a little cool feature it is possible to apply a custom CSS to the note.
        </p>
    </div>
</div>
<div class="container container__notes">
    <div id="notes" class="row d-flex justify-content-center">
    </div>
</div>
<link href="./scripts/app2.js">

<script src="scripts/app.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/bootstrap.bundle.js"></script>
<script>
    // populating the header, i really miss VUE...
    const parseCookie = (str) => {
        str = str.split(', ');
        var result = {};
        for (var i = 0; i < str.length; i++) {
            var cur = str[i].split('=');
            result[cur[0]] = cur[1];
        }
        return result;
    }
    const getUserData = (token) => {
        const XHR = new XMLHttpRequest();
        let apiServer = "http://127.0.0.1:3010"
        XHR.open("GET", `${apiServer}/userDetails/${token}`, false);
        try {
            XHR.send();
            if (XHR.status === 200) {
                let userData = JSON.parse(XHR.response)
                console.log(userData)
                renderHeader(userData.username)
            }
        } catch (err) {
            alert(err)
        }
    }
    const renderHeader = (username) => {
        let usernameContainer = document.getElementById("username-container")
        usernameContainer.innerHTML = username
    }
    getUserData(parseCookie(document.cookie).access)
    // -------------

    const notesContainer = document.getElementById("notes");

    const render = (state) => {
        state.forEach(el => {
            const codeSnippet = el.url;
            let feWafFilter = ["img", "script", "svg", "body", "xss", "marquee", "style", "input", "'", "\""]
            let feWafTrigg = false;

            feWafFilter.forEach(el => {
                if (codeSnippet.toLowerCase().includes(el)) {
                    feWafTrigg = true
                }
            })

            console.log(feWafTrigg)

            notesContainer.innerHTML +=
                `
                <\div id="note--${el.id}" class="note col-12 col-md-5 m-1 p-4">
                    <\h1\>${el.title}</\h1>
                    <\p\>${el.content}</\p>
                    <div id="code-snippet">
                        ${!feWafTrigg ? codeSnippet : "We are doing a little bit of sanitization to avoid XSS attacks. Final waf release soon."}
                    </style>
                </\div>
                `
        })
    }

    const XHR = new XMLHttpRequest();
    let apiServer = "http://127.0.0.1:3010"
    XHR.open("GET", `${apiServer}/notes`, false);
    try {
        XHR.send();
        if (XHR.status !== 200) {
            alert("Error retrieving notes.")
        } else {
            let notes = JSON.parse(XHR.response)
            render(notes);
        }
    } catch (err) {
        alert(err)
    }
</script>
</body>
</html>